.root {
  --button-height-sm: rem(24px);
  --button-height-md: rem(36px);
  --button-height-lg: rem(40px);
  --button-padding-x-sm: var(--mantine-spacing-sm);
  --button-padding-x-md: var(--mantine-spacing-md);
  --button-padding-x-lg: var(--mantine-spacing-lg);
  --button-padding-x-compact-sm: var(--mantine-spacing-sm);
  --button-padding-x-compact-md: var(--mantine-spacing-sm);
  --button-padding-x-compact-lg: var(--mantine-spacing-sm);

  font-weight: 400;

  &[data-variant='primary'] {
    background-color: #cafc81;
    color: #2b2b2b;

    &:hover {
      background-color: #ade374;
    }

    &:focus {
      border-color: var(--mantine-color-blue-filled);
    }

    &[data-disabled='true'] {
      background-color: #e7fcc7;
      color: #808080;
    }
  }

  &[data-variant='secondary'] {
    background-color: #dae1e8;
    color: #2b2b2b;

    &:hover {
      background-color: #b7c2cf;
    }

    &:focus {
      border-color: var(--mantine-color-blue-filled);
      background-color: #dae1e8;
    }

    &:active {
      background-color: #94a3b5;
    }

    &[data-disabled='true'] {
      background-color: #e6ebf0;
      color: #808080;
    }
  }

  &[data-variant='danger'] {
    background-color: #f76d4d;
    color: #2b2b2b;

    &:hover {
      background-color: #ba3d27;
    }

    &:focus {
      background-color: #ba3d27;
    }

    &:active {
      background-color: #972415;
    }

    &[data-disabled='true'] {
      background-color: #f9d6ce;
      color: #808080;
    }
  }

  &[data-variant='outline'] {
    color: #2b2b2b;
    border-color: #b7c2cf;

    &:hover {
      border-color: #94a3b5;
    }

    &:focus {
      border-color: #515f70;
    }

    &:active {
      border-color: #515f70;
    }

    &[data-disabled='true'] {
      color: #dae1e8;
    }
  }

  &[data-variant='ghost'] {
    text-decoration: underline;
    background-color: transparent;
    color: #738193;

    &:hover {
      color: #515f70;
    }

    &:focus {
      color: #738193;
    }

    &:active {
      color: #303d4e;
    }

    &:disabled,
    &[data-disabled='true'] {
      color: #808080;
    }
  }

  &[data-variant='subtle'] {
    text-decoration: underline;
    background-color: transparent;
    color: #738193;

    &:hover {
      color: #515f70;
    }

    &:focus {
      color: #738193;
    }

    &:active {
      color: #303d4e;
    }

    &:disabled,
    &[data-disabled='true'] {
      color: #808080;
    }
  }
}
