.table {
  &[data-variant='white'] {
    .thead {
      background-color: var(--mantine-color-secondary-8);

      .th {
        padding: 10px;
      }
    }

    .tbody {
      background-color: white;

      .td {
        padding: 10px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
